body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 97vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 10px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imageDisplayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

img.imageDisplay {
  width: 100%;
  height: 40vh;
  box-shadow: 3px 4px 7px darkgray;
  border-radius: 3px;
  /* margin: 2%; */
}
.description{

}
