body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 97vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 10px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imageDisplayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.imageGrid {
  position: relative;
  overflow: hidden;
  border: 0.5px solid #e2e2e2;
  border-radius: 4px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img.imageDisplay {
  width: 80%;
  height: 73%;
  box-shadow: 3px 4px 7px darkgray;
  border-radius: 3px;
  display: block;
  position: relative;
}

@keyframes enterDetail {
  0% {
    top: 100%;
  }

  100% {
    top: 40%
  }
}

.detailsContainer {
  position: absolute;
  display: block;
  background: #0000007d;
  height: 90%;
  top: 40%;
  width: 100%;
  z-index: 1;
  right: 0;
  border-radius: 3px;
  animation: enterDetail 0.4s;
  box-shadow: 1px -2px 4px 0px #383737;
}

.homePageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.iconBtn {
  position: absolute;
  background: white;
  right: -4px;
  box-shadow: 0px 2px 4px gray;
  z-index: 3;
  border-radius: 4px;
}

.downloadUrls {
  display: block;
  position: relative;
  z-index: 14;
  font-size: x-small;
  padding: 2px;
  background: white;
  margin: 2px;
  border-bottom: 1px solid #e2e2e2;
  text-decoration: none;
}

.photoDetailBlock {
  display: grid;
  justify-items: end;
  /* background: #ffffff6e; */
  padding: 14%;
}

.photoDetailBlockDiv {
  background: #f0f8ff8c;
  width: 70%;
  text-align: end;
  padding: 2%;
  border-radius: 3px;
  margin: 1%;
  font-size: small;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .imageDisplayContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .imageGrid {
    height: 16vh;
  }

  img.imageDisplay {
    height: 10vh;
    width: 77%;
  }

  .photoDetailBlock {
    padding: 1%;
  }

  .photoDetailBlockDiv {font-size: xx-small;}
}